<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <!-- Link do CSS próprio -->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min (3).css" />
  </head>

  <body class="d-flex flex-column">
    <div class="d-none d-md-block">
    {% include "header.html" %}
    </div>
    <main class="container mt-5 flex-fill">
      {% block content %} {% endblock %}
    </main>
    <br>
    <footer>
      {% include "footer.html" %}
    </footer>
    


    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
