
<footer id="footer" class="bg-light text-muted py-4 mb-4">
  <section class="d-flex flex-column align-items-center">
    <p class="mb-2">Conecte-se com a gente:</p>
    <div>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="me-3 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="container mt-4">
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <h6 class="text-uppercase fw-bold">Sobre nós</h6>
        <p>Na EmpreGO, conectamos talentos a oportunidades de trabalho.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="text-uppercase fw-bold">Entre em contato</h6>
        <p><i class="fas fa-envelope me-2"></i>empregoapp@example.com</p>
        <p><i class="fas fa-phone me-2"></i>3522-3335</p>
      </div>
    </div>
  </section>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 EmpreGO!
  </div>
</footer>

